<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Us</h3>
            <br />
            <h4>Our addres contact info here.</h4>
        </div>
        <div class="col-sm-4">
            <h3>Connect</h3>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
        </div>
        <div class="col-sm-4">
            <h3>Contact Us</h3>
            <br />
            <h4>Our address contact info here.</h4>
        </div>
    </div>

</footer>

